form {
  display: grid;
  gap: 10px;
  max-width: 380px;
    margin: 0 auto; 
  
}
input {
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
button {
  padding: 8px 12px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(62, 61, 61);
  color: white;
}

table {
  margin-top: 12px;
  border-collapse: collapse;
}
th, td {
  border-bottom: 1px solid #eee;
  padding: 8px 12px;
  text-align: left;
}

button:hover {
  background-color: black;
}
